.primary_btn {
  --background: var(--suazo-yellow);
  --color: black;
  --background-activated:lightgrey;
}

.secondary_btn {
  --background: white;
  --color: #000000;
  border: 2px solid var(--suazo-yellow);
  border-radius: 11px;
  --background-activated:lightgrey;
}

.secondary_text_link {
  color: black;
  font-weight: 200;
  letter-spacing: -0.3px;
  text-decoration: underline;
  cursor:pointer;
  margin-top: .5rem;
}

.mt-6 {
  margin-top:60vh;
}

.signup_form {
  width: 75vw;
  margin: 0 auto;
}


.signup_form_input {
  --padding-start: 0px;
}